# not ignore "gitignore" file and force adding it
!/.gitignore

# ignore jupyter notebook help folders
.ipynb_checkpoints*/
# and all checkpoint notebooks jupyter creates
.~*

# folders of my other IDEs
.vs/
.idea/
